
.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100vh;
}

.user-card, .about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
  padding: 1.025rem 1.05rem;
  background: rgba(250, 250, 250, 0.849);
  border-radius: 0.5rem;
  min-width: 40%;
}

img{
    border-radius: 4rem;
}

p{
    margin-bottom: 0;
}

.info-card{
    align-self: center;
}

.user-name{
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0.2rem;
}

.user-info{
    font-size: small;
    margin-bottom: 0.015rem;
    padding: 0 0.2rem;
}

.role{
    font-weight: 500;
    margin-bottom: 0.75rem;
}


.time {
    color: gray;
}

.user-btn {
    padding: 0.3rem;
    border: 0.02rem solid rgb(143, 141, 141);
    border-radius: 0.75rem;
    color: rgb(8, 55, 102);
    background-color: rgba(250, 253, 255, 0.53);
    
}

.user-btn:hover{
    background-color: rgba(167,190,211, 0.6);
    color: rgb(8, 55, 102);
}

.user-btn a{
    text-decoration: none;
    color: rgb(8, 55, 102);
    font-weight: 600;
}

.user-btn a:hover {
    color: rgb(8, 55, 102);
}

.about{
    width: 40%;
    padding-top: 0.5rem;
}

.nav-back{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-back{
    background-color: rgb(167,190,211);
    border: 0.5px solid #f9f9f9d7;
    border-radius: 0.25rem;
}

.btn-back a{
    text-decoration: none;
    color: #292626;
    font-weight: 600; 
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 0.2rem;

}

/* edit profile page */

