/* TODO: Import font style; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
* {
   font-family: 'Saira Condensed', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.alert{
    color: rgb(0, 0, 0);
    font-family: 'Saira Condensed',sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: rgba(240, 231, 231, 0.42);
    border: 1px solid #f9f9f9;
    border-radius: 2px;
}

.login-body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.2);
   background-image: url(../images/circle-signup_bg.jpg);
   background-size: cover;
   background-position: center;
   background-blend-mode: multiply;
}

.dashboard-body{
   min-height: 100vh;
   background-color: rgba(0, 0, 0, 0.2);
   background-image: url(../images/circle-signup_bg.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-blend-mode: multiply;
}

.company-logo {
   display: block;
   width: 50px;
   height: 50px;
}

nav.sidebar{
   /* background-color: rgb(89, 34, 89); */
}