{% extends "base.html" %}

{% block content %}
	<h1>Create A New Database</h1>

    <!-- Database Cluster Form -->
    <form action="{{ url_for('submit_database_form') }}" method="post" enctype="multipart/form-data">
        <label>Name of Database/Directory: <input type="text" name="foldername" /></label><br/><br/>
        <label>Upload the Database/Directory: <input type="file" name="files[]" webkitdirectory mozdirectory /></label>
	<br>
        <!-- Database Engine Selection -->
        <label for="db_engine">Database format:</label>
        <select id="db_engine" name="db_engine" required>
            {% for engine in database_engines %}
                <option value="{{ engine }}">{{ engine }}</option>
            {% endfor %}
        </select>
	<br>
        <!-- Submit Button -->
        <button type="submit">Upload Database</button>
    </form>

    <!-- Back Button -->
    <a href="{{ url_for('index') }}">Back</a>
{% endblock %}
