{% extends "base.html" %}

{% block content %}
<nav class="sidebar">
    <div class="sidebar-container">
        <div class="home-button">
            <a href="{{ url_for('index') }}">
                <span class="material-symbols-outlined">dashboard</span>
                <span class="company-name">RSA Database</span>
            </a>
        </div>
        <h6>Hi, {{ current_user.username }}!</h6>
        <ul class="menu-items">
            <li>
                <a href="{{ url_for('user', username=current_user.username)}}">
                    <span class="material-symbols-outlined">account_circle</span>
                    <span class="button-name">Account</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('logout')}}">
                    <span class="material-symbols-outlined">logout</span>
                    <span class="button-name">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- TODO: DATABASE DASHBOARD GOES HERE -->
<section class="dash">
    <div class="create">
        <h2>Databases</h2>
        <div>
		<a href="{{ url_for('upload_database') }}" class="btn btn-create"> Upload Database </a>
        </div>
    </div>

    <table class="table table-borderless table-hover align-middle">
        <thead class="table-header">
            <tr>

                {% for header in headings %}
                <th class="table-cell">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in databases %}
            <tr class="table-row">
                {% for item in row %}
                {% if item == row[0] %}
                <td class="table-cell">
                    <a href="#"> {{ item }} </a>
                </td>

                {% else %}
                <td class="table-cell">{{ item }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
</section>


{% endblock %}

<!-- sidebar div = div for each menu item  -->

